# /etc/systemd/system/edrdg-dictionary-archive-update.service

[Unit]
Description=edrdg-dictionary-archive update script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=edrdg_dictionary_archive --init --verify-signature update
User=edrdg-dictionary-archive-update
Group=edrdg-dictionary-archive-update
StateDirectory=edrdg-dictionary-archive-update
CacheDirectory=edrdg-dictionary-archive-update

WorkingDirectory=/var/lib/edrdg-dictionary-archive-update
Environment="XDG_DATA_HOME=/var/lib/edrdg-dictionary-archive-update/data"
Environment="XDG_CACHE_HOME=/var/cache/edrdg-dictionary-archive-update"
Environment="TZ=UTC"

# Security hardening
# See: https://wiki.archlinux.org/title/Systemd/Sandboxing

# Generate a security score and list of suggestions by running
# `systemd-analyze security edrdg-dictionary-archive-update.service`

# Capabilities
AmbientCapabilities=
CapabilityBoundingSet=

# Common directives
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateNetwork=no
PrivateTmp=yes
PrivateUsers=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

# Configurable directives
ProtectSystem=strict
ProtectHome=yes
ProtectProc=invisible
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

# Advanced directives
DevicePolicy=closed
DynamicUser=no
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RemoveIPC=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077
