# /etc/systemd/system/edrdg-dictionary-archive-update-git.timer

[Unit]
Description=daily edrdg-dictionary-archive git update

[Timer]
RandomizedDelaySec=3600
OnCalendar=*-*-* 04:00:00 UTC
Unit=edrdg-dictionary-archive-update-git.service

[Install]
WantedBy=timers.target

